.Button {
  background: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  font-weight: 500;
}

.Button.zero {
  width: 120px;
  border-radius: 50px;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.Button.function {
  color: black;
  background: #a5a5a5;
}
.Button.operator {
  color: white;
  background: #f1a33c;
  font-weight: 700;
}
